@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'prismjs/themes/prism.css';
@import 'prismjs/plugins/diff-highlight/prism-diff-highlight.css';

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.analog-markdown {
  text-align: left;

  p {
    padding: 1rem 0;
  }
}
