<div class="row flex flex-center">
  <form class="col-6 form-widget">
    <h1 class="header">Supabase + Angular</h1>
    <p class="description">Sign in via magic link with your email below</p>
    <div>
      <input #input class="inputField" type="email" placeholder="Your email" />
    </div>
    <div>
      <button type="submit" (click)="handleLogin(input.value)" class="button block" [disabled]="loading">
        {{ loading ? 'Loading' : 'Send magic link' }}
      </button>
    </div>
  </form>
</div>
