<nav class="navbar bg-gray-800 py-4 px-2 w-full">
  <div class="text-white flex items-center justify-between">
    <span>ChatApp</span>
    <div class="page-links">
      <ul *ngIf="auth.currentUser$ | async as currentUser; else loggedOut" class="flex items-center space-x-4">
        <li><a routerLink="/chat" routerLinkActive="active">Chat rooms</a></li>
        <li><a [routerLink]="'/profile/' + currentUser.id" routerLinkActive="active">Profile</a></li>
        <li><a (click)="auth.logOut()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<ng-template #loggedOut>
  <ul>
    <li><a routerLink="/login" routerLinkActive="active">Log In</a></li>
    <li><a routerLink="/signup">Sign Up</a></li>
  </ul>
</ng-template>
