<section id="about" class="section">
    <div>
    
        <header>
        <h2>Biography</h2>
        </header>
    
        <div>
            <div>
                <img src="assets/images/home/biography.jpg" width="100%" alt="Dale Nguyen">
            </div>
            <div>
                <p>I have been doing research and create my first IT blog since 2012 then starting to design websites and I am passionate about the web development career. I am currently employed at CI Investments, Toronto Canada, as a Web Application Developer.</p>
                <p>I am a full stack developer. I take projects from the initial concept stage through to completion. I stay on top of leading front and back end technologies such as <strong>Angular, NodeJS, Firebase, SQL/NoSQL, LAMP Stack (Linux, Apache, MySQL and PHP), HTML 5 and CSS 3, Docker, Resful API</strong> to ensure the optimum code peformance and site security for my clients.</p>
                <p>My favourite work environments are <strong>Angular, NodeJS and Firebase</strong>. They are outstanding digital technologies because of pre-build flexibility, ease-of-use structure code that allows you to spend more time on creating an actual website instead of spending time on repetitive code.</p>
                <p>In my spare time, I love to travel as much as possible. You can read at my travel blog.</p>
            </div>
        </div>
    
    </div>
    
</section>