<section id="portfolio" class="section">
    <div>
        <header>
            <h2>Project Gallery</h2>
        </header>

        <p>In addition to cutting edge code, I bring a solid background in SEO, Branding and Online Marketing.</p>

        <mat-grid-list #grid cols="4" rowHeight="2:1">
            <mat-grid-tile *ngFor="let p of portfolios">
                <mat-card>
                    <a href="{{p.url}}">{{ p.title }}</a>
                    <p>{{ p.description }}</p>
                    <div>
                        <span><mat-icon fontSet="fa" fontIcon="fa-code"></mat-icon> {{ p.language }}</span> 
                        <span><mat-icon fontSet="fa" fontIcon="fa-star"></mat-icon> {{ p.star }}</span> 
                        <span><mat-icon fontSet="fa" fontIcon="fa-code-branch"></mat-icon> {{ p.fork }}</span>
                    </div>
                </mat-card>                
            </mat-grid-tile>                
        </mat-grid-list>
    </div>
</section>