<section id="portfolio" class="section">
  <div>
    <header>
      <h2>Project Gallery</h2>
    </header>

    <p>
      In addition to cutting edge code, I bring a solid background in SEO,
      Branding and Online Marketing.
    </p>

    <mat-grid-list
      #grid
      [cols]="cols"
      rowHeight="2:1"
      *ngIf="portfolioService.projects$ | async"
    >
      <mat-grid-tile *ngFor="let p of portfolioService.projects$ | async">
        <mat-card>
          <a href="{{ p.html_url }}" target="_blank">{{ p.name }}</a>
          <p>{{ p.description }}</p>
          <div>
            <span
              ><mat-icon fontSet="fa" fontIcon="fa-code"></mat-icon>
              {{ p.language }}</span
            >
            <span
              ><mat-icon fontSet="fa" fontIcon="fa-star"></mat-icon>
              {{ p.stargazers_count }}</span
            >
            <span
              ><mat-icon fontSet="fa" fontIcon="fa-code-branch"></mat-icon>
              {{ p.forks }}</span
            >
          </div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</section>
