<section id="intro" class="section">
    <div class="container">
        <header>
            <h2 class="alt">My name is Dale Nguyen. I am a Toronto based digital architect. My competent professional work environments are Angular, Firebase, NodeJS, Javasript/TypeScript, SQL/NoSQL, HTML 5 and CSS, Linux, Docker...</h2>
        </header>
    
        <div>
            <button mat-raised-button color="primary" (click)="navService.target.next('contact')">
                <mat-icon fontSet="fa" fontIcon="fa-arrow-circle-down"></mat-icon>Let's meet
            </button>
        </div>
    </div>
</section>