<div class="container">
  <div class="form-wrapper">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (submit)="submit()" novalidate>
      <input type="email" id="email-input" formControlName="email" placeholder="Enter Email" />
      <input type="password" id="password-input" formControlName="password" placeholder="Enter password" />
      <br />
      <button type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>
    <small><a routerLink="/signup">Need an Account?</a></small>
  </div>
</div>
