<div class="form-widget">
  <div>
    <label for="email">Email</label>
    <input id="email" type="text" [value]="session?.user?.email" disabled />
  </div>
  <div>
    <label for="username">Name</label>
    <input #username id="username" type="text" [value]="profile?.username ?? ''" />
  </div>
  <div>
    <label for="website">Website</label>
    <input #website id="website" type="url" [value]="profile?.website ?? ''" />
  </div>

  <div>
    <button class="button block primary" (click)="updateProfile(username.value, website.value)" [disabled]="loading">
      {{ loading ? 'Loading ...' : 'Update' }}
    </button>
  </div>

  <div>
    <button class="button block" (click)="signOut()">Sign Out</button>
  </div>
</div>
