<div id="blogNav">
  <a [routerLink]="['/blog']">Blog</a> /
  <span>{{
    (article$ | async) ? (article$ | async)?.slug : 'article-not-found'
  }}</span>
</div>

<div id="post" *ngIf="article$ | async">
  <header>
    <h1>{{ (article$ | async)?.title }}</h1>
    <p>
      {{
        (article$ | async)
          ? 'Written by ' + (article$ | async)?.author.first_name
          : ''
      }}
    </p>
    <p>{{ (article$ | async)?.published | date }}</p>
  </header>

  <article [innerHTML]="(article$ | async)?.body"></article>
</div>
