<mat-toolbar color="primary">
  <span>My App</span>
</mat-toolbar>

<main class="content">
  <!-- 
        Open/Closed Principal where you can extend weather widget functionality without modifying the widget
        <dalenguyen-widget title="Custom Title">
           Other content
        </dalenguyen-widget>
    -->
  <dalenguyen-widget title="Weather">
    <dalenguyen-weather-content></dalenguyen-weather-content>
  </dalenguyen-widget>

  <dalenguyen-widget title="Velocity">
    <dalenguyen-velocity-content></dalenguyen-velocity-content>
  </dalenguyen-widget>
</main>
