<div class="container">
  <div class="form-wrapper">
    <h2>Signup</h2>
    <form [formGroup]="signupForm" (submit)="submit()" novalidate>
      <div class="name-wrapper">
        <input type="text" id="first-name-input" placeholder="First Name" formControlName="firstName" />
        <input type="text" id="last-name-input" placeholder="Last Name" formControlName="lastName" />
      </div>
      <input type="email" id="email-input" formControlName="email" placeholder="Enter Email" />
      <input type="password" id="password-input" formControlName="password" placeholder="Enter password" />
      <br />
      <button type="submit" [disabled]="!signupForm.valid">Signup</button>
    </form>
    <small><a routerLink="/login">Already have an Account?</a></small>
  </div>
</div>
