/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import 'variables';
@import "~@fortawesome/fontawesome-free/css/all.css";

h2 {
    font-size: 2em;
}

a {
    text-decoration: none;
    color: $gray;
}

