<div id="blog">
  <h1>Blog</h1>

  @if (articles$ | async; as articles) {
    <section id="articles">
      @for (article of articles; track article) {
        <mat-card class="example-card">
          <h2>{{ article.title }}</h2>
          <!-- <mat-card-header>
          <mat-card-title class="mat-title">{{ article.title }}</mat-card-title>
        </mat-card-header> -->
        <img src="{{ article.featured_image }}" alt="{{ article.title }}" />
        <mat-card-content>
          <p>
            {{ article.summary }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="openPost(article)">READ MORE</button>
        </mat-card-actions>
      </mat-card>
    }
  </section>
}
</div>
