<section id="contact" class="section">
    <div class="container">
        <header>
            <h2>Let's work together</h2>
        </header>
            <p>If you have something interesting, shoot me an email.</p>
        <h4>
            <mat-icon fontSet="fa" fontIcon="fa-envelope"></mat-icon> <a href="mailto:dungnq@itbox4vn.com"> dungnq@itbox4vn.com</a>
        </h4>
        <br>
        <!-- <h4>
            <mat-icon fontSet="fa" fontIcon="fa-user"></mat-icon> <a href="http://dalenguyen.me/resume"> View Dale's resume</a>
        </h4> -->
    </div>
</section>